header {
    position:fixed; 
    top:0%;
    height:7%;
    width:1000%;
    background-color: rgba(209, 198, 198, 0.288); 
    text-align: left;
    transition: all 0.5s;
    -webkit-appearance: none;
}

.option{
  float: left;
  height:100%;
  width:10%;
  -webkit-appearance: none;
  }

.option2{
  height:100%;
  width:10%;
  margin-left:10%;
  -webkit-appearance: none;
}


body {
    position:fixed;
    width:1000%;
    height:93%;
    top:7%;
    margin: 0;
    padding: 0px;
    background-color:#1285ffa8;
    font-family: 'Helvetica';
    text-align: center;
    transition: all 0.5s;
    -webkit-appearance: none;
}

.NewOrder{
  float: left;
  text-align: center;
  height:100%; 
  width:10%;
  -webkit-appearance: none;
}


.slideX {
  height:100%; 
  width: 10%;
  left:-10%;
  text-align: center;
  overflow: hidden;
  -webkit-appearance: none;
}

.page1 {
  height:100%;
  width: 100%;
  -webkit-appearance: none;
}

input#toriaezu{
    display: block; /* ブロックレベル要素化する */
    text-align: center; /* テキストのセンタリングを指定する */
    margin: 5%; /* ボックス外側の余白を指定する */
    width: 60%; /* ボックスの横幅を指定する */
    height: 5%; /* ボックスの高さを指定する */
    padding-left: 5px; /* ボックス内左側の余白を指定する */
    padding-right: 5px; /* ボックス内御右側の余白を指定する */
    color: #b20000; /* フォントの色を指定 */
    font-size: 15px;
    line-height: 45px; /* 行の高さを指定する */
    cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
    border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
    border-radius: 2px; /* 角丸を指定する */ 
    background-color:#43ec3da8; 
    -webkit-appearance: none;
}
