header {
    position:fixed; 
    top:0%;
    height:7%;
    width:100%;
    background-color: rgba(128, 128, 128, 0.288); 
    text-align: left;
    transition: all 1s;
}

.option{
  float: left;
  text-align: left;
  height:100%; 
  width:13%;  
}


body {
    position:fixed;
    top:7%;
    width:100%;
    margin: 0;
    padding: 0px;
    background-color: #1285ffa8;
    font-family: 'Helvetica';
    text-align: left;
    transition: all 0.5s;
}